.photo-details-modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
  height: fit-content;

  .similar {
    h4 {
      color: #838383;
    }
  }

  .photo-list__item {
    max-width: 250px;
    .card-img {
      max-height: 150px;
    }

    .photo-list__user-profile {
      width: 25px;
      height: 25px;
    }

    .photo-list__user-details {
      h1 {
        font-size: 1em;
      }
      .photo-list__user-location {
        font-size: 0.8em;
      }
    }
  }

}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: -8px;
  margin-top: 7px;
}
.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}
.photo-details-modal__image {
  // max-width: 95%;
  width: 100%;
  margin: auto;
  max-height: 670px;
}
.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}
.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}
.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}
///
.photo-details-modal__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  // margin-right: 8px;
  width: 40px;
  height: 40px;
}
.photo-details-modal__user-details {
  display: flex;
  align-items: center; //my addition
}
.photo-details-modal__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  h1 {
    font-size: 1.2em;
  }
}