.photo-list__item {
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 375px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
  align-items: center;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  h1 {
    font-size: 1.2em;
  }
}

.photo-list__user-location {
  color: #838383;
  font-size: 0.9em;
}